<h3>Последние посты</h3>
</br>
</br>
<% @results.each do |value| %>

    <p><%= value["content"] %></p>
    </br>
    <p><%= value["create_date"] %></p>

    <a href="/details/<%= value["Id"] %>">Подробнее</a>

    </br>
    </br>

<% end %>