<html>
<h2>Добавить новый пост</h2>

<p>
<form action="/new" method = "POST" role="form">
  <textarea name="theme_new_post" rows="1" placeholder="Введите тему поста" style = 'width: 400px'></textarea>
  </br>
  <textarea name="text_new_post" rows="9" placeholder="Введите ваш текст" style = 'width: 400px'></textarea>
  </br>
  <button type="submit" class="btn btn-success">Создать</button>
</form>
</p>


</html>